html,
body {
  height: 100%;
  font-family: $font-mulish;
}

html {
  body {
    font-family: $font-mulish;
    overflow-x: hidden;
  }
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  color: $color-regal-blue;
  font-size: 14px;
  padding-#{$ldirection}: 15px;
  height: 50px;
  border-radius: 5px;
  background-color: $color-bleached-silk;
  border: none;
  @include media-breakpoint-up(md) {
    height: 40px;
  }
  &:active,
  &:hover,
  &:focus {
    background-color: $color-bleached-silk;
  }
}

input {
  &.form-control::placeholder {
    font-size: 14px;
    color: $color-regal-blue;
    font-weight: 400;
  }
}

select {
  &.form-select {
    height: 36px;
    color: $color-regal-blue;
    border-radius: 10px;
    font-size: 14px;
    height: 50px;
    border-radius: 5px;
    background-color: $color-bleached-silk;
    border: none;
    @include media-breakpoint-up(md) {
      height: 40px;
    }
  }
}


input[type=checkbox],
input[type=checkbox]:checked {
 width: 25px;
 height: 25px;
 border-radius: 10px;
 background-color: $color-blue-martina;
 border-color: $color-blue-martina;
}
