$small-up: 0;
$small-landscape-up: 576px;
$small-down: max-width 767px;
$small-only: (0, 767px);

$medium-up: 768px;
$medium-down: max-width 1024px;

$landscape-up: 1024px;

$large-up: 1025px;

$largest-up: 1281px;

$xlarge-up: 1440px;

$extra-xlarge-up: 1600px;
