// General.
$black: #000 !default;
$white: #FFF !default;
$red: #d0021b !default;
$color-black: $black !default;
$color-white: $white !default;


// Colors
$color-tender-turquoise: #83D5C5;
$color-oxford-blue: #354257;
$color-catskill-white: #F8FAFC;
$color-gray-medium: #DBDBDB;
$color-regal-blue: #024F6B;
$color-blue-martina: #15C7CB;
$color-sea-wonder: #0EA0C0;
$color-white-smoke: #F5F5F5;
$color-bleached-silk: #F2F2F2;

// Font Family
$font-mulish: 'Mulish';

$rdirection: right !default;
$ldirection: left !default;
