html, body, .row-login{
    height:100%;
    width: 100%;
    margin:0;
    display: flex;
    font-family: $font-family-sans-serif;
} 

.login-container, .login-carousel, .login-section {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.login-carousel{
    background-color: $primary-color;
}
.login-section{
    background-color: $secondary-color;
    color: white;
}
.login-form-control{
    background-color: $secondary-color;
    border-bottom: 1px solid white;
}
.link-white, .link-white:hover{
    color: white;
}
